<template name="contactList">

    {{#unless loggingIn}} {{! Help avoid initial flashing when Meteor hasn't logged user in yet }}

        {{#if userEmailIsVerified}}

            <!-- Modal for adding new contact -->
            <button id="showAddNewContactModal" type="button" class="btn btn-primary">Add New Contact</button>
            <div class="modal fade" id="addNewContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="addNewContactLabel">Add New Contact</h4>
                        </div>
                        <div class="modal-body">

                            <form id="addNewContactForm" class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label for="emailInput" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" id="emailInput" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameInput" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="nameInput" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tagInput" class="col-sm-2 control-label">Tags</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="tagInput" placeholder="">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modal for adding new contact -->


    {{else}}

            <p>Sorry, you need to login with a verified email before continue.</p>

        {{/if}}

    {{/unless}}

</template>