<template name="login">

        <legend>Login</legend>
        <div id="alert" class="alert alert-danger"></div>

        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="emailInput" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-3">
                    <input type="email" class="form-control" id="emailInput" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="passwordInput" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
            </div>

            <div class="form-group form-inline">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="loginButton" class="btn btn-primary">Login</button>
                    <button id="registerSwitchButton" class="btn btn-default">Register</button>
                </div>
            </div>

        </form>

</template>